@unocss all;

/* Step counter utility */
.step {
  counter-increment: step;
}

.step:before {
  @apply livelist-absolute livelist-w-36px livelist-h-36px livelist-bg-muted livelist-rounded-full livelist-font-mono livelist-font-medium livelist-text-center livelist-text-base livelist-inline-flex livelist-items-center livelist-justify-center livelist-border-4 livelist-border-background;
  margin-left: -50px;
  margin-top: -4px;
  content: counter(step);
}
